.main {
    margin: 2% 15% 1% 15%;
    font-family: var(--font-family);
    color: var(--text-color);
}

.content {
    min-height: 22em;
    margin-top: 5em;
    margin-bottom: 3em;
}

.footer {
    margin-bottom: 5em;
}